opencv-python==4.9.0.80
numpy==1.26.4
pytesseract==0.3.10
python-dotenv==1.0.1
Pillow==10.2.0
pywhatkit==5.4
setuptools>=65.5.1
wheel>=0.38.0
future>=0.18.3
six>=1.16.0
requests>=2.31.0
urllib3>=2.0.7
beautifulsoup4>=4.12.3
typing-extensions>=4.8.0
werkzeug>=3.0.1
click>=8.1.7
importlib-metadata>=7.0.1
Flask>=3.0.0